* {
    font-family: 'Museo Sans Cyrl'  sans-serif;
}

.container {
     width: 100%;
     max-width: 950px;
     margin: 0 auto;
}

@import 'mixins/variables';
@import 'mixins/mixin';
/* MIXINS */


@import 'block/promo';
@import 'block/header';
@import 'block/benefits';
@import 'block/consultation';
@import 'block/forms';
@import 'block/slaider';
@import 'block/catalog';
@import 'block/review';
@import 'block/footer';

/* block */

@import 'btn/btn';


@import 'media/media';
/* media */


