* {
    font-family: 'Museo Sans Cyrl' sans-serif;
}

.container {
     width: 100%;
     max-width: 950px;
     margin: 0 auto;
}

@import 'mixins/variables';
@import 'mixins/mixin';
/* MIXINS */

@import 'block/promo';
@import 'block/header';
@import 'btn/btn';

