.catalog {
    padding-top: 100px;
    padding-bottom: 80px;
    &__title {        
        text-transform: uppercase;
        color: #0D0D0D;
        font-family: $font-family_500;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        text-align: center;        
    }
    &__tabs {
        margin-top: 70px;
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;       
        

    }
    &__tab {
        margin: 0 5px;
        width: 222px;
        height: 50px;
        list-style-type: none;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        
        font-family: $font-family_500;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        transform: skewX(-25deg);
        cursor: pointer;
        transition: 0.5s all;        
        &:hover {
            box-shadow: 4px 4px 20px darkblue ;
            border: none;
        }
        div {
            transform: skew(25deg);
        }
        &_active {
            color: #fff;
            background: $color_btn;
            border: none;
        }
    }/* tab */
    &__content {
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
        &_mod {
            justify-content: space-around;
        }       

    }/* c__content */
    &-item {
        width: 300px;
        min-height: 440px;
        padding: 20px 20px 26px 20px;
        border: 2px solid #E8E8E8;
        overflow: hidden;
        margin-bottom: 20px;
        &__img{
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            color: #0D0D0D;
            margin-top: 15px;
            text-align: center;
            font-family: $font-family_700;
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
        }
        &__descr {
            margin-top: 16px;
            color: #0D0D0D;
            font-family: $font-family_300;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }
        &__link {
            display: block;
            margin-top: 17px;
            color: #C70101;
            font-family: $font-family_500;            
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;            
            text-align: center;
            &:hover {
                color: #C70101;
            }
            
        }
        hr {
            background: #E8E8E8;
            margin-top: 19px;
            margin-bottom: 21px;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__btn {
            width: 135px;
            height: 44px;
            border-radius: 5px;
            border: none;
            background-color: $color_btn;

            font-family: $font-family_500;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            cursor: pointer;
        }
        &__old {
            font-family: $font-family_300;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__new {
            color: #050505;
            font-family: $font-family_700;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
                        
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 1s all;    
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            padding-right: 20px;
            transform: translateX(0%);
            transition: 1s all;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                margin-left: 0px;
                transform: translateX(-100%);
            }
            li {
                position: relative;
                font-family: $font-family_300;
                font-weight: 300;
                font-size: 14px;
                color: #555555;
                margin-bottom: 20px;
                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $color_btn; 
                    left: -14px;
                    top: 7px;

                }

            }

        }
        &__back {
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            color: $color_btn;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
                color: $color_btn;
            }

        }

    }/* catalog-item */

}/* catalog */