.feed-form {
    margin-top: 36px;
    display: flex;
    width: 300px;
    flex-direction: column;
    input {
        height: 50px;
        border-radius: 5px;
        border: none;
        background-color: #ffffff;
        margin-bottom: 15px;
        padding: 0 20px;
        color: #4b4b4b;
        font-family: "Museo Sans Cyrl 300";
        font-size: 14px;
        font-weight: 300;
        line-height: 66px;
        &:nth-child(3) {
            margin-bottom: 20px;
        }
    }
    &_mod {
        margin-top: 25px;
    }
    
}


