.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/bg/bg_hd.png) center (center/cover) no-repeat;
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;        
    }
    &__header {
        color: #ffffff;
        font-family: "Museo Sans Cyrl 700";
        font-size: 42px;
        line-height: 42px;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
    }
    &__subheader {
        margin-top: 17px;
        color: #ffffff;
        font-family: "Museo Sans Cyrl 500";
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        width: 425px;
    }
    &__icon {
        width: 108px;
        text-align: center;
        color: #ffffff;
        font-family: "Museo Sans Cyrl 500";
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }   
    &__link {
        margin-top: 18px;
        color: #ffffff;
        text-decoration: none;
        font-family: "Museo Sans Cyrl 500";
        font-size: 16px;
        font-weight: 500;
        a {
            color: #ffffff;
            font-family: "Museo Sans Cyrl 500";
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}