.review {
    padding-bottom: 50px;

    h2 {
        color: #0D0D0D;
        font-family: $font-family_700;        
        font-weight: 700;
        font-size: 30px;        
        text-align: center;
        text-transform: uppercase;
    }
    &__content {
        display: flex;
        margin-top: 60px;

    }   
    &__img {
        margin-right: 60px;
        width: 170px;
        height: 170px; 
    }
    &__header {
        color: #0D0D0D;
        font-family: $font-family_700;
        font-weight: 700;
        font-size: 18px;   
    }
    &__subheader {
        margin-bottom: 10px;
        color: #646464;
        font-family: $font-family_500;        
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }
    &__descr {
        margin-top: 10px;
        color: #0D0D0D;
        font-family: $font-family_300;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
    }   

}/* review */