@media (max-width:1200px) {

}/* 1200px */

@media only screen and (max-width:991px) {
    .benefits {
        &__text {
            font-family: "Museo Sans Cyrl 300";
            font-size: 12px;            
            font-weight: 300;
        }
    }

}/* 991px работаем на 768px*/

@media (max-width:767px) {

}/* 767px mobile работаем на 576 */

@media (max-width:575px) {

}/* 575px mobile работаем на 320px */

@media (max-width: 319px) {

}

