@media (max-width:1200px) {

}/* 1200px */
@media (max-width:991px) {
    .benefits {
        &__text {
            font-family: "Museo Sans Cyrl 300";
            font-size: 12px;            
            font-weight: 300;
        }
    }

}


