@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url(../fonts/MuseoSansCyrl-100.woff);
    src: url(../fonts/MuseoSansCyrl-100.woff2);
    font-weight: normal;
    font-size: normal;
}
 @font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url(../fonts/MuseoSansCyrl-300.woff);
    src: url(../fonts/MuseoSansCyrl-300.woff2);
    font-weight: 300;
    font-size: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url(../fonts/MuseoSansCyrl-500.woff);
    src: url(../fonts/MuseoSansCyrl-500.woff2);
    font-weight: 500;   
    font-size: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url(../fonts/MuseoSansCyrl-700.woff);
    src: url(../fonts/MuseoSansCyrl-700.woff2);
    font-weight: 700;
    font-size: normal;
}