 @font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url(../fonts/MuseoSansCyrl-300.woff);
    src: url(../fonts/MuseoSansCyrl-300.woff2);
    font-weight: 300;
    font-size: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url(../fonts/MuseoSansCyrl-500.woff);
    src: url(../fonts/MuseoSansCyrl-500.woff2);
    font-weight: 500;   
    font-size: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl 900';
    src: url(../fonts/MuseoSansCyrl-900.woff);
    src: url(../fonts/MuseoSansCyrl-900.woff2);
    font-weight: bold;
    font-size: normal;
}