.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: $color_btn;
    color: #ffffff;
    font-family: "Museo Sans Cyrl 500";
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    &_promo {
        @include btn_promo;        
    } 
    &_submit {
        @include btn_submit;
    }   
    &_modal {
        width: 100%;
        height: 55px;
        border-radius: 5px;
        background-color: $color_btn;
        text-transform: uppercase;
        font-family: "Museo Sans Cyrl 500";
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }

}

